.sc_flex{
  display:flex;
  justify-content: center;
}
#sc_menu {
  display: block;
  position: absolute;
  top: 177px;
  /*bottom: 84px;*/
  align-items:flex-end;
  background-color: #908328e8;
  z-index: 1;
}
#carousel{
  margin-top: 54px;

}
.carousel-inner>.item>img{
	width: 100%;
}
.MON{
	display: flex;
	flex-driection: row

}